<!DOCTYPE html>
<html>
<head>
	<title>Add Drug</title>
</head>
<body>
	<h1>Add Drug to Pharmacy Storage</h1>
	<form action="{{ url_for('add_drug') }}" method="POST">
		<label for="drug_id">Drug ID:</label>
		<input type="text" id="drug_id" name="drug_id" required><br><br>

		<label for="drug_name">Drug Name:</label>
		<input type="text" id="drug_name" name="drug_name" required><br><br>

		<label for="quantity">Quantity:</label>
		<input type="number" id="quantity" name="quantity" min="1" required><br><br>

		<label for="expire_date">Expiration Date:</label>
		<input type="date" id="expire_date" name="expire_date" required><br><br>

		<input type="submit" value="Add Drug">
	</form>
<a href="{{ url_for('home') }}">Back to Home Page</a>
</body>
<html>
